.footer{
    width: 100%;
    background-color: #0a141d;
}

.footer .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; 
    padding: 45px 0;
}

.footer .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo1 .box figure img{
    width: 250px;
    height: 250px;
}

.footer .grupo1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.footer .grupo1 .redSocial a{
    display: inline-flex;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    color: #efefef;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo1 .redSocial a:hover{
    color: rgb(243, 91, 91);
}

.footer .grupo2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer .grupo2 small{
    font-size: 15px;
}