.grid-container{
    padding: 15px 50px;
    gap: 10px;
    display: grid;
    text-align: center;
}

main section span{
    background-color: beige;
    color: rgb(243, 91, 91);
}

.reserva{
    width: 90px;
    height: 30px;
    background-color: beige;
    color: rgb(0, 0, 0);
    padding: 5px ;
    font-size: 15px;
    text-transform: uppercase;
}

.grid-subContainer{
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}

.descripcion{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
}