@media screen and (max-width:800px) {
        .nav_label{
            display: block;
            cursor: pointer;

            .nav_menu{
                background-color: #0a141d;
                position: fixed;
                bottom: 0;
                width: 100%;
                left: 0;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                clip-path: circle(0 at center);
                transition: clip-path 1s ease-in-out;

                .nav_input:checked + .nav_menu{
                    clip-path: circle(100% at center);
                    
                    .footer .grupo1{
                        width: 90%;
                        grid-template-columns: repeat(1, 1fr);
                        grid-gap: 50px; 
                        padding: 45px 0;

                    .formulario{
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr;

                        .consultas{
                            width: 100%;
                            display: grid;
                            grid-template-columns: 1fr;

                            .grid-subContainer{
                                width: 100%;
                                display: grid;
                                grid-template-columns: 1fr;
                            }
                        }
                    }
                }
            }
        }
    }
}



@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}
