header{
    background-color: gray;

    .nav{
        height: 250px;

        .nav_container{
            display: flex;
            height: 100%;
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;

            .nav_input:checked + .nav_menu{
                background-color: #0a141d;

                .nav_label{
                    display: none;

                    .nav_input{
                        display: none;

                    .nav_menu{
                        display: grid;
                        grid-auto-flow: column;
                        gap: 20px;

                        .nav_item{
                            color: #fff;
                            font-size: 30px;
                            text-decoration: none;
                            --clippy: polygon(0 1%, 0 0, 0 100%, 0% 100%);
                        
                            .nav_item::after{
                                content: '';
                                display: block;
                                background: #fff;
                                width: 90%;
                                margin-top: 3px;
                                height: 3px;
                                clip-path: var(--clippy);
                                transition: clip-path .5s;

                                .nav_item:hover{
                                    --clippy: polygon(0 1%, 100% 0, 100% 100%, 0 100%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}