.nosotros{
    text-align: center;

    h1{
        background-color: rgb(136, 218, 245);
        color: #fff;
    }
}

h3{
    background-color: rgb(110, 107, 107);
}

.iconoCv{
    height: 150px;
    width: 150px;
}