h2{
    display: grid;
    text-align: center;
}

.form-vuelos{
    padding-bottom: 15px;
    display: grid;
    gap: 10px;
    justify-content: center;
}

.vuelo{
    background-color: aqua;
    padding: 30px;
    display: grid;
    justify-content: center;

    .aerolineas{
        padding: 80px;
        display: grid;
        gap: 15px;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}
