.header {
  background-color: rgb(110, 107, 107);
  height: 180px;
  width: 100%;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
.header .nav .navLink {
  color: white;
  text-decoration: none;
}
.header .nav .navLink .logo {
  height: 180px;
  width: 180px;
}
.header .nav .navLink .logo .navMenu {
  display: flex;
  margin-right: 40px;
  align-items: center;
}
.header .nav .navLink .logo .navMenu .navMenuItems {
  font-size: 20px;
  margin: 0px 10px;
  text-transform: uppercase;
  width: -moz-max-content;
  width: max-content;
}
.header .nav .navLink .logo .navMenu .navMenuItems .navMenuLink {
  padding: 8px 12px;
  border-radius: 50px;
  transition: 0.5s;
}
.header .nav .navLink .logo .navMenu .navMenuItems .navMenuLink .navMenuLink:hover {
  background-color: rgb(136, 218, 245);
  color: rgb(243, 91, 91);
}
.header .nav .navLink .logo .navMenu .navMenuItems .navMenuLink .navMenuLink:hover .menuHamburguesa {
  position: absolute;
  top: 4rem;
  right: 3rem;
  cursor: pointer;
  filter: 1;
}

.sliderFrame {
  overflow: hidden;
}
.sliderFrame .sliderFrame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 15s infinite alternate ease-in-out;
}
.sliderFrame .sliderFrame ul .sliderFrame li {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 120em;
  background-color: rgb(136, 218, 245);
  padding: 20px;
}
.container .subContainer {
  min-height: 80px;
  background-color: lightgrey;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .subContainer .input {
  margin: 10px;
  padding: 10px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formulario {
  padding-top: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.imagenes {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.imagenes .miniBoxs img {
  width: 100%;
  height: auto;
  padding-top: 30px;
  max-width: 500px;
}

.consultas {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.consultas h3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.consultas h3 .formConsulta {
  padding: 10px;
}
.consultas h3 .formConsulta .text-tarea {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main h1 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1 .parrafoCheckIn {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main h1 .parrafoCheckIn .reserva {
  width: 500px;
  padding-top: 10px;
  text-align: justify;
}
main h1 .parrafoCheckIn .reserva .formCheckIn {
  width: 100%;
  padding: 50px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1 .parrafoCheckIn .reserva .formCheckIn .bannerOferta {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

h2 {
  display: grid;
  text-align: center;
}

.form-vuelos {
  padding-bottom: 15px;
  display: grid;
  gap: 10px;
  justify-content: center;
}

.vuelo {
  background-color: aqua;
  padding: 30px;
  display: grid;
  justify-content: center;
}
.vuelo .aerolineas {
  padding: 80px;
  display: grid;
  gap: 15px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid-container {
  padding: 15px 50px;
  gap: 10px;
  display: grid;
  text-align: center;
}

main section span {
  background-color: beige;
  color: rgb(243, 91, 91);
}

.reserva {
  width: 90px;
  height: 30px;
  background-color: beige;
  color: rgb(0, 0, 0);
  padding: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.grid-subContainer {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
}

.descripcion {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
}

.nosotros {
  text-align: center;
}
.nosotros h1 {
  background-color: rgb(136, 218, 245);
  color: #fff;
}

h3 {
  background-color: rgb(110, 107, 107);
}

.iconoCv {
  height: 150px;
  width: 150px;
}

.footer {
  width: 100%;
  background-color: #0a141d;
}

.footer .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.footer .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .grupo1 .box figure img {
  width: 250px;
  height: 250px;
}

.footer .grupo1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.footer .grupo1 .redSocial a {
  display: inline-flex;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 45px;
  color: #efefef;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}

.footer .grupo1 .redSocial a:hover {
  color: rgb(243, 91, 91);
}

.footer .grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .grupo2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .logo {
    position: relative;
  }
  .logo .footer .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
  }
  .logo .footer .grupo1 .nav {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
  }
  .logo .footer .grupo1 .nav .menuHamburguesa {
    display: none;
  }
  .logo .footer .grupo1 .nav .menuHamburguesa .navMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .logo .footer .grupo1 .nav .menuHamburguesa .navMenu .formulario {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .logo .footer .grupo1 .nav .menuHamburguesa .navMenu .formulario .consultas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .logo .footer .grupo1 .nav .menuHamburguesa .navMenu .formulario .consultas .grid-subContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
}/*# sourceMappingURL=main.css.map */